 .finder-layout-container {
    background: rgba(0, 0, 0, 0.08);

    .finder-brand {
      > a {
        color: #fff;
        text-decoration: none;
        span {
          font-weight: bold;
        }
      }
    }

    .finder-action-buttons {
      margin-left: 45px;
    }

    .mat-toolbar.mat-primary {
        font-size: 18px;
        font-weight: 100;

        .finder-header-tabs {
          color: #fff;
          padding: 0 20px;
          box-shadow: none;
          text-decoration: none;
        }

        .finder-header-fill-spaces {
          flex: 1 1 auto;
        }
    }

    .finder-layout-content-wrapper {
      min-height: 90vh;
    }
  }