<div class="finder-container container">
  <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" [ngSwitch]="steps?.activeStep">

         <!-- Result Block -->
        <mat-card class="finder-card mat-card" *ngIf="steps?.result">
          Result: {{steps.result}}
        </mat-card>

        <!-- Step-1 Block -->
        <mat-card class="finder-card mat-card" *ngSwitchCase="1">
          <h6>Step {{steps.activeStep}}:</h6>
          <form [formGroup]="nameFinderForm" (ngSubmit)="onSubmit($event)">
            <div class="form-group">
                <label for="finderCount">Total Alphabets/Characters:</label>
                <input id="finderCount" type="text" class="form-control finder-control" formControlName="count" />
            </div>
            <div class="form-group">
              <button class="btn btn-danger btn-block finder-btn"> Submit </button>
            </div>
          </form>
        </mat-card>

        <!-- Step-2 Block -->
        <mat-card class="finder-card mat-card" *ngSwitchCase="2">
          <h6>Step {{steps.activeStep}}:</h6>
          <div class="finder-rules">
           <button class="btn btn-danger btn-block finder-btn" *ngFor="let step of finderSteps; let i = index" (click)="setGroupData(step, 'stepOne')">
            <span>{{ getLetters(step.group) }}</span>
           </button>
          </div>
        </mat-card>

        <!-- Step-3 Block -->
        <mat-card class="finder-card mat-card" *ngSwitchCase="3">
          <h6>Step {{steps.activeStep}}:</h6>
          <div class="finder-rules">
            <button class="btn btn-danger btn-block finder-btn" *ngFor="let step of finderSteps; let i = index" (click)="setGroupData(step, 'stepTwo')">
            <span>{{ getLetters(step.group) }}</span>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
</div>