.finder-container {
    .finder-card {
        margin: 25px;
        border-radius: 0;
    }

    .finder-badge {
        top: 2px;
        float: left;
    }

    .finder-control {
        border-radius: 0;
    }
}

