.finder-container {
    .finder-rules {
        padding: 25px;
        text-align: center;
        .finder-rules-list {
            text-align: justify;
            .finder-rule {
                padding: 10px 0;
            }
        }
    }
}