.finder-container {
    .action-button {
        margin: 25px 0;
        text-align: center;
    }
    .finder-card {
        margin: 25px;
        overflow: hidden;
        border-radius: 0;

        .finder-btn {
            border-radius: 0;
            outline: 0;
        }
    }
    .finder-rules {
        padding: 25px;
        text-align: center;
        .finder-rules-list {
            padding-left: 5px;
            text-align: justify;

            .finder-badge {
                border-radius: 0;
                margin-right: 10px;
            }

            .finder-rule {
                padding: 10px 0;
            }
        }
    }
}
