<div class="container finder-home-container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 img-wrapper">
            <div class="img-responsive">
                <img src="./assets/images/gcloud.png" alt="GCLOUD">
            </div>
            <div class="action-button">
                <button mat-raised-button color="primary" type="submit" class="bcc-btn" (click)="goTo('finder')">
                    <span mat-line>Get Started</span>
                </button>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>